// Footer
footer.footer
  .container
    
    .footer__wrapper
      .footer__wrapper-left
        p
          b Религиозная организация ортодоксального иудаизма - Московская Марьинорощинская Еврейская Община 
          br
          span.font-weight-normal
            | ОГРН 1027700564462 
            br
            | ИНН 7715000509 
            br
            | КПП 771501001 
      .footer__wrapper-center
        p
          b Юридический адрес организации: 
          br
          | 127018, г. Москва 2-й Вышеславцев пер, д.5 А
        p 
          a(href="mailto:") sefertora@gmail.com
          br
          a(href="tel:") 0 800 987 654 321
      .footer__wrapper-right
        .footer__logos
          img(src="./tmp/footer-logo-1.png", alt="").footer__logos--1
          img(src="./tmp/footer-logo-2.png", alt="").footer__logos--2
  
