// Footer
footer.footer
  .container
    .letter
      .letter__wrapper
        img(data-src="./images/bg-letter/footer-letter-left.png", alt="").lazyload.letter__img.letter__img--fll
        img(data-src="./images/bg-letter/footer-letter-right.png", alt="").lazyload.letter__img.letter__img--flr
    
    .row
      .col
        .footer__wrapper
          .footer__wrapper-left
            p.footer__about
              b Религиозная организация ортодоксального иудаизма - Московская Марьинорощинская Еврейская Община 
              br
              span.font-weight-normal
                | ОГРН 1027700564462 
                br
                | ИНН 7715000509 
                br
                | КПП 771501001 
          .footer__wrapper-center
            p.footer__address
              b Юридический адрес организации: 
              br
              | 127018, г. Москва 2-й Вышеславцев пер, д.5 А
            p.footer__call
              a(href="mailto:") sefertora@gmail.com
              br
              a(href="tel:")
                strong 0 800 987 654 321
          .footer__wrapper-right
            .footer__logos
              img(data-src="./tmp/footer-logo-1.png", alt="").lazyload.footer__logos--1
              img(data-src="./tmp/footer-logo-2.png", alt="").lazyload.footer__logos--2
  
