// Header
header.header
  .container
    
    .header__wrapper
      .logo.header__logo
        a(href="#body").anchor
          img(src="./images/logo.png", alt="")
      nav.nav.header__nav
        ul
          li: a.anchor(href="#learn") о проекте
          li: a.anchor(href="#history") история
      a(href="#payment").btn.btn--sm.header__btn.anchor
        span Получить букву