// Header
header.header
  .container
    
    .header__wrapper
      .logo.header__logo
        a(href="#body").anchor
          img(src="./images/sp.gif", alt="")
      nav.nav.header__nav
        ul
          li: a.anchor(href="#learn") о проекте
          li: a.anchor(href="#history") история
      a(href="#payment").btn.btn--svg.btn--sm.header__btn.anchor
        svg(xmlns='http://www.w3.org/2000/svg' fill='none' version='1.1' viewBox='0 0 336.9 69.6')
          g(transform='translate(4 -29.7)')
            rect.path-animate(width='334.9' height='67.6' x='-3.1' y='30.7' rx='33.8')
          rect.path(width='325' height='58' x='6' y='5.8' rx='29')
        span Получить букву