doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - Буква в Торе' //title страницы для генерации верстки

  include ./_include/_head

  body#body
    .base
      .base__wrapper

        // Preloader
        include ./_include/_preloader

        include ./_include/_header

        // Content
        main.content

          // Section
          section.section.roll
            .container

              .letter
                .letter__wrapper
                  img(src="./images/bg-letter/letter.png", alt="").letter__img.letter__img--pl
                  img(src="./images/bg-letter/letter.png", alt="").letter__img.letter__img--pr
                  img(src="./images/bg-letter/letter-b.png", alt="").letter__img.letter__img--pb

              .row
                .col

                  .roll__wrapper
                    .roll__wrapper-right
                      img(src="./images/bg-roll.png", alt="").roll__wrapper-img
                      .roll__block.is-roll
                        img(src="./images/roll-left.png", alt="").roll__block-img1
                        img(src="./images/roll-right.png", alt="").roll__block-img2
                        img(src="./images/sp.gif", alt="").roll__block-img3
                    .roll__wrapper-content
                      .roll__content
                        .roll__content-wrapper
                          .roll__head
                            h1 Уникальный проект 
                          .roll__untitle Свиток Торы русскоязычных евреев
                          .roll__description Получите букву в Торе и 
                            br
                            | духовный щит для себя и своих близких
                      a(href="#payment").btn.btn--svg.roll__btn.anchor
                        svg(xmlns='http://www.w3.org/2000/svg' fill='none' version='1.1' viewBox='0 0 336.9 69.6')
                          g(transform='translate(4 -29.7)')
                            rect.path-animate(width='334.9' height='67.6' x='-3.1' y='30.7' rx='33.8')
                          rect.path(width='325' height='58' x='6' y='5.8' rx='29')
                        span Получить букву

          // Section
          section.section.learn#learn
            .container

              .letter
                .letter__wrapper
                  img(data-src="./images/bg-letter/letter.png", alt="").lazyload.letter__img.letter__img--ll
                  img(data-src="./images/bg-letter/letter.png", alt="").lazyload.letter__img.letter__img--lr
                  img(data-src="./images/bg-letter/letter-y.png", alt="").lazyload.letter__img.letter__img--lb

              .row
                .col
                  .content__head.learn__head
                    h2 Узнать больше о проекте
                  .content__untitle Свиток Торы русскоязычных евреев

                  // Video
                  .video
                    .video__img
                      img(data-src="./tmp/letter-img.png", alt="").lazyload.img-fluid
                    .video__block
                      a(href="https://www.youtube.com/watch?v=dtimHvmRfPU").popup-youtube.video__play.learn__video
                        img(src="./images/icon-play.svg", alt="")


          // Section
          section.section.what
            .container

              .letter
                .letter__wrapper
                  img(data-src="./images/bg-letter/letter-k.png", alt="").lazyload.letter__img.letter__img--wb

              .row
                .col
                  .content__head
                    h2 Что такое Тора?
                  
                  .what__content
                    .what__content-wrapper
                      p Евреев часто называют «народ Книги». Такая характеристика всегда воспринимается как весьма лестная, и евреи часто гордятся тем, что они «народ Книги».
                      p Книга, о которой идет речь, легла в основу своеобразного «бестселлера» всех времен и народов. Около шести миллиардов изданных экземпляров, среднегодовой объем продаж примерно в сто миллионов копий, переводы на свыше двух тысяч языков мира… Божественная мудрость текста, данного евреям у горы Синай, служит источником духовности для всего мира.
                      p Тора, что в переводе с иврита означает «учение», — это та Книга, которая создала наш народ, ведет и хранит его на протяжении веков. Наши мудрецы говорят о ней как о духовной карте мироздания, указывающей направление на единение со Всевышним.
                      p Тора устанавливает нормы поведения человека, определяющие его поступки, она показывает человеку цель, к которой он должен стремиться в своем духовном и физическом развитии.
                      p Существует распространенное мнение, что еврейские книги предназначены исключительно для изучения в специальных учебных заведениях и что читать их должен только раввин. Это мнение является глубоко ошибочным (как и большинство распространенных мнений о еврействе). Фраза «Тора дана народу Израиля» означает, что Тора дана не только еврейскому народу как коллективу, но и каждому еврею, вне зависимости от его статуса. Поэтому Тора – наследие не только еврейского народа целиком, но и каждого конкретного еврея. Это подарок, врученный каждому еврею лично Творцом мира. Это его наследие, которое он должен передать своим детям.
                      p Любавичский Ребе пишет: «При получении Торы должен быть учтен каждый еврей, поскольку у каждого есть свой удел в святой Торе, дарованной Всевышним, и его душа связана с ней. Ни один еврей не должен быть забыт или «потерян».
                      p Выражение «народ Книги» можно понимать двояко – «народ, которому принадлежит Книга» или «народ, который принадлежит Книге». Оба эти значения слиты воедино в еврейском народе – евреи верны Слову Всевышнего, а Тора принадлежит народу Израиля.
                    button(type="button").what__content-link
                      img(src="./images/icon-read.svg", alt="")
                      span Читать далее

          // Section
          section.section.history#history
            .container

              .letter
                .letter__wrapper
                  img(data-src="./images/bg-letter/letter-ru.png", alt="").lazyload.letter__img.letter__img--hl
                  img(data-src="./images/bg-letter/letter-v.png", alt="").lazyload.letter__img.letter__img--hb

              .row
                .col
                  .history__wrapper
                    .history__wrapper-content
                      .content__head.history__head
                        h2 История 
                          br
                          | возникновения обычая

                      p Во времена рабби Исраэля Бааль Шем Това в местечке Меджибож произошла вспышка чумы. Мужчины, женщины и дети заболевали и умирали один за другим от этой болезни. В отчаянии лидеры общины обратились к Баал Шем Тову и попросили его от имени общины сказать, как остановить эпидемию. Баал Шем Тов ответил, что отмена небесного приговора – не в его, а в их руках. 
                      p Баал Шем Тов посоветовал написать новый свиток Торы усилиями всех членов общины, тем самым как бы объединяя их в этом священном свитке. Община немедленно взялась за это, и Баал Шем Тов поручил своему сойферу начать писать эту Тору Единства. И, как ни удивительно, вскоре, в общину пришло исцеление.
                    .history__wrapper-img
                      .history__img
                        img(data-src="./tmp/history-img.png", alt="").lazyload.img-fluid

          // Section
          section.section.facts
            .container

              .letter
                .letter__wrapper
                  img(data-src="./images/bg-letter/letter.png", alt="").lazyload.letter__img.letter__img--fl
                  img(data-src="./images/bg-letter/letter-a.png", alt="").lazyload.letter__img.letter__img--fb
                  img(data-src="./images/bg-letter/letter-t.png", alt="").lazyload.letter__img.letter__img--fb2

              .row
                .col
                  .content__head.facts__head
                    h2 Интересные факты о Торе

                  .facts__carousel
                    div
                      .facts__block Тора самая святая книга в иудаизме, ее дал Всевышний народу Израиля через Моше
                    div
                      .facts__block Тора самая святая книга в иудаизме
                    div
                      .facts__block Тора самая святая книга в иудаизме, ее дал Всевышний народу Израиля через Моше
                    div
                      .facts__block Всевышний народу Израиля через Моше

          // Section
          section.section.words
            .container

              .letter
                .letter__wrapper
                  img(data-src="./images/bg-letter/letter-o.png", alt="").lazyload.letter__img.letter__img--wrb

              .row
                .col

                  .words__wrapper
                    .words__wrapper-head
                      .content__head.words__head
                        h2 Слова Ребе 
                          br
                          small о важности иметь букву в свитке Торы
                    .words__wrapper-video
                      // Video
                      .video.video--words
                        .video__img
                          img(data-src="./tmp/words-img.png", alt="").lazyload.img-fluid
                        .video__block
                          a(href="https://www.youtube.com/watch?v=dtimHvmRfPU").popup-youtube.video__play.words__video
                            img(src="./images/icon-play.svg", alt="")

          // Section
          section.section.initiative
            .container

              .letter
                .letter__wrapper
                  img(data-src="./images/bg-letter/letter-p.png", alt="").lazyload.letter__img.letter__img--ib
                  img(data-src="./images/bg-letter/letter.png", alt="").lazyload.letter__img.letter__img--il
                  img(data-src="./images/bg-letter/letter.png", alt="").lazyload.letter__img.letter__img--ir

              .row
                .col
                  .initiative__wrapper
                    .initiative__wrapper-left
                      .content__head.initiative__head
                        h2 Благородная инициатива
                      p В свете распространения короновируса во всем мире и по инициативе главного раввина России Берл Лазара мы начали подобную инициативу, чтобы объединить всех русскоязычных евреев мира в этом свитке. Свиток Торы в настоящее время пишется, и у вас есть возможность принять в этом участие. 
                      .d-none.d-xl-block
                        .initiative__description “ Мы должны начать действовать. Купите букву сейчас – себе и всем своим близким! Давайте объединимся в написании этого свитка и в наших молитвах! “
                        a(href="#payment").btn.btn--svg.anchor
                          svg(xmlns='http://www.w3.org/2000/svg' fill='none' version='1.1' viewBox='0 0 336.9 69.6')
                            g(transform='translate(4 -29.7)')
                              rect.path-animate(width='334.9' height='67.6' x='-3.1' y='30.7' rx='33.8')
                            rect.path(width='325' height='58' x='6' y='5.8' rx='29')
                          span Получить букву
                    .initiative__wrapper-img
                      .initiative__img
                        img(data-src="./tmp/initiative-img.png", alt="").lazyload
                    .initiative__wrapper-content.d-xl-none
                      .initiative__description “ Мы должны начать действовать. Купите букву сейчас – себе и всем своим близким! Давайте объединимся в написании этого свитка и в наших молитвах! “
                      a(href="#payment").btn.btn--svg.initiative__btn.anchor
                        svg(xmlns='http://www.w3.org/2000/svg' fill='none' version='1.1' viewBox='0 0 336.9 69.6')
                          g(transform='translate(4 -29.7)')
                            rect.path-animate(width='334.9' height='67.6' x='-3.1' y='30.7' rx='33.8')
                          rect.path(width='325' height='58' x='6' y='5.8' rx='29')
                        span Получить букву

          // Section
          .section.payment#payment
            .container

              .letter
                .letter__wrapper
                  img(data-src="./images/bg-letter/letter-a.png", alt="").lazyload.letter__img.letter__img--pyb

              .row
                .col
                  .payment__top
                    .payment__top-info В 1 свитке Торы - 
                      strong 304 805 букв
                    .payment__top-description Поспешите приобрести букву в Торе и 
                      strong духовный щит для себя и своих близких
                  .payment__form
                    form#form(method="get" action="")
                      .payment__wrapper
                        .payment__wrapper-content
                          legend Платежная информация
                          fieldset
                            .payment__form-fields
                              .div1
                                .form-group
                                  input(type="text" name="name" placeholder="Имя и Фамилия" required).form-control
                              .div2
                                .form-group
                                  input(type="text" name="city" placeholder="Город" required).form-control
                              .div3
                                .form-group
                                  input(type="text" name="phone" placeholder="Телефон" required).form-control
                              .div4
                                .form-group
                                  input(type="text" name="email" placeholder="Email" required).form-control
                            .payment__form-info Рекомендуемый размер пожертвований: 
                              strong 1 000 000 рублей
                          fieldset
                            #payment__donate.payment__form-donate
                              .div1
                                .payment__form-head.b Пожертвовать
                              .div2
                                .form-group
                                  label.label-donate
                                    input(type="radio" name="donate" checked)
                                    span 100
                              .div3
                                .form-group
                                  label.label-donate
                                    input(type="radio" name="donate")
                                    span 500
                              .div4
                                .form-group
                                  label.label-donate
                                    input(type="radio" name="donate")
                                    span 1000
                              .div5
                                .form-group
                                  input#donate-custom(type="number" name="donate-custom" placeholder="Своя сумма").form-control
                          fieldset
                            .form-group
                              label.label-checkbox#no-donate
                                input(type="checkbox" name="checkbox1")
                                svg(width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                  path.checkbox-path1(d='M16.0809 2.77965L14.9034 1.60211C14.7764 1.47508 14.5705 1.47508 14.4434 1.60211L8.38378 7.66143L6.22207 5.49988C6.09505 5.37286 5.88914 5.37286 5.76211 5.49988L4.58457 6.67743C4.52358 6.73842 4.48926 6.82121 4.48926 6.90741C4.48926 6.99361 4.52358 7.0764 4.58457 7.13739L8.1538 10.7063C8.2174 10.7699 8.30051 10.8016 8.38378 10.8016C8.46722 10.8016 8.55001 10.7699 8.61376 10.7063L16.0808 3.23961C16.1418 3.17862 16.1761 3.09583 16.1761 3.00963C16.1761 2.92343 16.1419 2.84064 16.0809 2.77965Z')
                                  path.checkbox-path2(d='M12.1441 12.1907H1.80272V1.8491H12.3906L13.7706 0.547946C13.7706 0.368386 13.6249 0.222656 13.4453 0.222656H0.501559C0.321999 0.222656 0.17627 0.368386 0.17627 0.547946V13.4919C0.17627 13.6714 0.321999 13.8171 0.501559 13.8171H13.4455C13.6252 13.8171 13.7708 13.6714 13.7708 13.4919V7.33088L12.1443 9.03864L12.1441 12.1907Z')
                                span У меня нет возможности сделать пожертвование
                            .form-group
                              label.label-checkbox
                                input(type="checkbox" name="checkbox2" checked)
                                svg(width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg')
                                  path.checkbox-path1(d='M16.0809 2.77965L14.9034 1.60211C14.7764 1.47508 14.5705 1.47508 14.4434 1.60211L8.38378 7.66143L6.22207 5.49988C6.09505 5.37286 5.88914 5.37286 5.76211 5.49988L4.58457 6.67743C4.52358 6.73842 4.48926 6.82121 4.48926 6.90741C4.48926 6.99361 4.52358 7.0764 4.58457 7.13739L8.1538 10.7063C8.2174 10.7699 8.30051 10.8016 8.38378 10.8016C8.46722 10.8016 8.55001 10.7699 8.61376 10.7063L16.0808 3.23961C16.1418 3.17862 16.1761 3.09583 16.1761 3.00963C16.1761 2.92343 16.1419 2.84064 16.0809 2.77965Z')
                                  path.checkbox-path2(d='M12.1441 12.1907H1.80272V1.8491H12.3906L13.7706 0.547946C13.7706 0.368386 13.6249 0.222656 13.4453 0.222656H0.501559C0.321999 0.222656 0.17627 0.368386 0.17627 0.547946V13.4919C0.17627 13.6714 0.321999 13.8171 0.501559 13.8171H13.4455C13.6252 13.8171 13.7708 13.6714 13.7708 13.4919V7.33088L12.1443 9.03864L12.1441 12.1907Z')
                                span Согласен с 
                                  a(href="#!" target="_blank") условиями обработки персональных данных
                            .payment__form-footer
                              .div1
                                button(type="submit").btn.btn--svg.payment__btn.anchor
                                  svg(xmlns='http://www.w3.org/2000/svg' fill='none' version='1.1' viewBox='0 0 336.9 69.6')
                                    g(transform='translate(4 -29.7)')
                                      rect.path-animate(width='334.9' height='67.6' x='-3.1' y='30.7' rx='33.8')
                                    rect.path(width='325' height='58' x='6' y='5.8' rx='29')
                                  span Получить букву
                              .div2
                                .payment__sertificate 
                                  img(src="./images/icon-page.svg", alt="")
                                  span После оформления, сертификат о покупке буквы, отправляется на почту

                        .payment__wrapper-form
                          .payment__add
                            .payment__add-wrapper
                              .payment__add-block
                                .payment__block-title Буква 
                                  span 1 
                                  | для
                                .payment__block-wrapper
                                  .div1
                                    .form-group
                                      input(type="text" name="letter-name-1" placeholder="Ваше имя").form-control
                                  .div2
                                    .form-group
                                      input(type="text" name="letter-lastname-1" placeholder="Фамилия").form-control
                                  .div3
                                    .form-group
                                      input(type="text" name="letter-mother-1" placeholder="Имя матери").form-control

                            button(type="button").payment__add-btn Добавить еще одну букву

        include ./_include/_footer
        //- div(style="height: 1000px; background-color: #000")

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

