/* modules */
.content {
  &__untitle {
    font-size: rem(20px);
    margin-bottom: 25px;
    @include media-breakpoint-up(lg) {
      font-size: rem(25px);
      margin-bottom: 20px;
    }
    @include media-breakpoint-up(xl) {
      font-size: rem(30px);
    }
    @include media-breakpoint-up(xxl) {
      font-size: rem(35px);
      margin-bottom: 30px;
    }
  }
}

.letter {
  position: relative;
  height: 0;
  &__wrapper {
    position: absolute;
    width: 100%;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    &--fll {
      width: 353px;
      margin-left: -117px;
      margin-top: 38px;
      @include media-breakpoint-up(md) {
        margin-left: -6px;
        margin-top: -60px;
      }
      @include media-breakpoint-up(lg) {
        margin-left: -102px;
        margin-top: -183px;
      }
      @include media-breakpoint-up(xl) {
        margin-left: -140px;
        margin-top: -208px;
      }
      @include media-breakpoint-up(xxl) {
        width: auto;
        margin-left: -180px;
        margin-top: -356px;
      }
    }
    &--flr {
      width: 340px;
      right: 0;
      left: inherit;
      margin-top: 140px;
      margin-right: -91px;
      @include media-breakpoint-up(md) {
        margin-top: 154px;
        margin-right: -101px;
      }
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
    &--pb {
      width: 378px;
      margin-top: 138px;
      margin-left: -204px;
      @include media-breakpoint-up(md) {
        margin-top: -50px;
        margin-left: -186px;
      }
      @include media-breakpoint-up(lg) {
        width: 444px;
        margin-top: 0;
        margin-left: -285px;
      }
      @include media-breakpoint-up(xl) {
        width: 512px;
        margin-top: -60px;
        margin-left: -245px;
      }
      @include media-breakpoint-up(xxl) {
        width: 683px;
        height: 830px;
        margin-left: -202px;
        margin-top: -10px;
      }
    }
    &--pl {
      width: 396px;
      margin-left: 212px;
      margin-top: 127px;
      @include media-breakpoint-up(md) {
        margin-top: 238px;
      }
      @include media-breakpoint-up(lg) {
        margin-left: 287px;
      }
      @include media-breakpoint-up(xl) {
        margin-left: 399px;
        margin-top: 358px;
      }
      @include media-breakpoint-up(xxl) {
        width: 588px;
      }
    }
    &--pr {
      width: 396px;
      margin-left: 502px;
      margin-top: 469px;
      @include media-breakpoint-up(md) {
        margin-top: 538px;
      }
      @include media-breakpoint-up(lg) {
        left: inherit;
        right: 0;
        margin-left: 0;
        margin-right: -329px;
      }
      @include media-breakpoint-up(xl) {
        margin-right: -223px;
        margin-top: 550px;
      }
      @include media-breakpoint-up(xxl) {
        width: 588px;
        margin-right: -393px;
      }
    }
    &--lb {
      width: 378px;
      margin-left: -160px;
      margin-top: -60px;
      @include media-breakpoint-up(md) {
        margin-top: 20px;
      }
      @include media-breakpoint-up(lg) {
        width: 464px;
        margin-left: -243px;
        margin-top: -80px;
      }
      @include media-breakpoint-up(xl) {
        width: 535px;
      }
      @include media-breakpoint-up(xxl) {
        width: 713px;
        margin-left: -215px;
        margin-top: -100px;
      }
    }
    &--ll {
      width: 309px;
      height: 320px;
      margin-left: -13px;
      margin-top: 87px;
      @include media-breakpoint-up(md) {
        margin-top: 226px;
      }
      @include media-breakpoint-up(lg) {
        margin-top: 310px;
      }
      @include media-breakpoint-up(xl) {
        width: 421px;
        height: 439px;
      }
      @include media-breakpoint-up(xxl) {
        width: 586px;
        height: auto;
        margin-top: 355px;
        margin-left: 90px;
      }
    }
    &--lr {
      width: 333px;
      height: 272px;
      left: inherit;
      right: 0;
      margin-right: -336px;
      margin-top: 385px;
      @include media-breakpoint-up(md) {
        margin-right: -68px;
        margin-top: 526px;
      }
      @include media-breakpoint-up(lg) {
        width: 452px;
        height: auto;
        margin-right: -208px;
        margin-top: 396px;
      }
      @include media-breakpoint-up(xl) {
        margin-top: 605px;
      }
      @include media-breakpoint-up(xxl) {
        width: 586px;
        height: auto;
        margin-top: 763px;
        margin-right: -305px;
      }
    }
    &--wb {
      width: 378px;
      margin-left: -180px;
      margin-top: -60px;
      @include media-breakpoint-up(md) {
        height: 500px;
      }
      @include media-breakpoint-up(lg) {
        width: 473px;
        height: auto;
        margin-left: -270px;
        margin-top: -80px;
      }
      @include media-breakpoint-up(xl) {
        width: 546px;
      }
      @include media-breakpoint-up(xxl) {
        width: 728px;
      }
    }
    &--hb {
      width: 378px;
      margin-top: -40px;
      margin-left: -190px;
      @include media-breakpoint-up(md) {}
      @include media-breakpoint-up(lg) {
        width: 455px;
        margin-left: -260px;
      }
      @include media-breakpoint-up(xl) {
        width: 525px;
      }
      @include media-breakpoint-up(xxl) {
        width: 700px;
        margin-top: -170px;
      }
    }
    &--hl {
      display: none;
      width: 344px;
      right: 0;
      left: inherit;
      margin-top: -40px;
      margin-right: -100px;
      @include media-breakpoint-up(md) {
        display: block;
      }
      @include media-breakpoint-up(lg) {
        width: 443px;
        margin-top: 140px;
        margin-right: -246px;
      }
      @include media-breakpoint-up(xl) {
        margin-top: 128px;
        margin-right: -280px;
      }
      @include media-breakpoint-up(xxl) {
        width: 604px;
        margin-top: 86px;
        margin-right: -360px;
      }
    }
    &--fl {
      width: 339px;
      margin-top: -74px;
      margin-left: 0;
      left: 50%;
      transform: translateX(-50%);
      @include media-breakpoint-up(md) {
        margin-top: 180px;
      }
      @include media-breakpoint-up(lg) {}
      @include media-breakpoint-up(xl) {
        width: 431px;
        margin-top: 290px;
      }
      @include media-breakpoint-up(xxl) {
        width: 586px;
        margin-top: 170px;
      }
    }
    &--fb {
      width: 383px;
      margin-left: -190px;
      margin-top: -85px;
      @include media-breakpoint-up(md) {
        margin-top: -55px;
      }
      @include media-breakpoint-up(lg) {}
      @include media-breakpoint-up(xl) {
        width: 574px;
        margin-left: -270px;
      }
      @include media-breakpoint-up(xxl) {
        width: 765px;
        margin-top: -145px;
      }
    }
    &--fb2 {
      width: 378px;
      left: inherit;
      right: 0;
      margin-top: -103px;
      margin-right: -248px;
      @include media-breakpoint-up(md) {
        margin-top: -43px;
        margin-right: -158px;
      }
      @include media-breakpoint-up(lg) {
        margin-top: -95px;
      }
      @include media-breakpoint-up(xl) {
        width: 473px;
        margin-right: -300px;
        margin-top: -65px;
      }
      @include media-breakpoint-up(xxl) {
        width: 630px;
        margin-right: -30px;
      }
    }
    &--wrb {
      width: 403px;
      left: inherit;
      right: 0;
      margin-right: -230px;
      margin-top: -50px;
      @include media-breakpoint-up(md) {
        margin-right: -160px;
        margin-top: 50px;
      }
      @include media-breakpoint-up(lg) {
        width: 484px;
        margin-right: -284px;
        margin-top: -90px;
      }
      @include media-breakpoint-up(xl) {
        width: 605px;
        margin-right: -374px;
        margin-top: -80px;
      }
      @include media-breakpoint-up(xxl) {
        width: 806px;
        margin-right: -444px;
        margin-top: -110px;
      }
    }
    &--il {
      width: 340px;
      margin-left: -104px;
      margin-top: -78px;
      @include media-breakpoint-up(md) {
        margin-left: 26px;
        margin-top: 362px;
      }
      @include media-breakpoint-up(lg) {
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0;
        margin-top: 322px;
      }
      @include media-breakpoint-up(xl) {
        width: 401px;
        transform: translateX(-70%);
        margin-top: 462px;
      }
      @include media-breakpoint-up(xxl) {}
    }
    &--ir {
      width: 340px;
      left: inherit;
      right: 0;
      margin-right: -185px;
      margin-top: -147px;
      @include media-breakpoint-up(md) {
        margin-top: 320px;
        margin-right: -75px;
      }
      @include media-breakpoint-up(lg) {
        display: none;
      }
      @include media-breakpoint-up(xl) {}
      @include media-breakpoint-up(xxl) {}
    }
    &--ib {
      width: 378px;
      left: inherit;
      right: 0;
      margin-right: -248px;
      margin-top: -34px;
      @include media-breakpoint-up(md) {
        margin-right: -178px;
      }
      @include media-breakpoint-up(lg) {
        width: 415px;
        margin-right: -238px;
        margin-top: -4px;
      }
      @include media-breakpoint-up(xl) {
        width: 519px;
        margin-right: -318px;
      }
      @include media-breakpoint-up(xxl) {
        width: 692px;
        margin-right: -358px;
        margin-top: -94px;
      }
    }
    &--pyb {
      width: 383px;
      left: inherit;
      right: 0;
      margin-right: -200px;
      margin-top: -50px;
      @include media-breakpoint-up(md) {
        margin-right: -130px;
        margin-top: 10px;
      }
      @include media-breakpoint-up(lg) {
        margin-right: -210px;
        margin-top: -20px;
        width: 459px;
      }
      @include media-breakpoint-up(xl) {
        margin-right: -170px;
        width: 574px;
      }
      @include media-breakpoint-up(xxl) {
        width: 765px;
        margin-right: -420px;
        margin-top: 50px;
      }
    }
  }
}

.roll {
  z-index: 5;
  &__block {
    position: relative;
    height: 473px;
    margin-bottom: 30px;
    img {
      position: absolute;
    }
    &-img1, &-img2 {
      width: 57px;
      z-index: 5;
    }
    &-img2 {
      right: 0;
    }
    &-img3 {
      z-index: 1;
      width: calc(100% - 88px);
      bottom: 10px;
      margin-left: 45px;
      height: 500px;
      object-fit: cover;
      object-position: left;
      background: url('../images/roll-center.png') left center repeat-x;
      background-size: cover;
    }
    &.is-roll {
      [class*="-img3"] {
        animation-name: backgroundEffect;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }
  &__head {
    max-width: 353px;
    margin: 0 auto 15px;
    text-align: center;
  }
  &__untitle {
    text-align: center;
    font-weight: bold;
    font-size: rem(20px);
    margin-bottom: 24px;
  }
  &__description {
    font-weight: bold;
    font-size: rem(16px);
    line-height: 24px;
    color: $color-brown;
    padding-left: 67px;
    position: relative;
    text-align: left;
    br {
      // display: none
    }
    &::before {
      content: '';
      width: 42px;
      height: 3px;
      position: absolute;
      left: 0;
      top: 9px;
      background: $color-brown;
    }
  }
  &__content {
    margin-bottom: 25px;
    &-wrapper {
      padding-top: 30px;
    }
  }
  &__wrapper {
    margin-top: -190px;
    &-content {
      text-align: center;
    }
    &-img {
      display: none;
      position: absolute;
    }
  }
  &__btn {
    width: 290px;
  }
}

@keyframes backgroundEffect {
  0% {background-position: 0px 0px}
  100% {background-position: -500px 0}
}

@keyframes backgroundEffect-sm {
  0% {background-position: 0px 0px}
  100% {background-position: -500px 0}
}
@keyframes backgroundEffect-md {
  0% {background-position: 0px 0px}
  100% {background-position: -405px 0}
}
@keyframes backgroundEffect-lg {
  0% {background-position: 0px 0px}
  100% {background-position: -405px 0}
}
@keyframes backgroundEffect-xl {
  0% {background-position: 0px 0px}
  100% {background-position: -508px 0}
}
@keyframes backgroundEffect-xxl {
  0% {background-position: 0px 0px}
  100% {background-position: -640px 0}
}

.video {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  margin: 0 auto;
  &__play {
    width: 65px;
    height: 65px;
    background: $color-brown;
    border-radius: 50%;
    display: inline-block;
    padding: 22px 25px;
    animation: shadow-pulse 2.5s infinite;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -3px;
      top: -3px;
      right: -3px;
      bottom: -3px;
      border: 2px solid $color-brown;
      border-radius: 50%;
    }
    img {
      display: block;
      width: 18px;
      height: 21px;
    }
    @include media-breakpoint-up(md) {
      width: 83px;
      height: 83px;
      padding: 28px 32px;
      animation-name: shadow-pulse-md;
      img {
        width: 22px;
        height: 26px;
      }
    }
    @include media-breakpoint-up(xl) {
      width: 105px;
      height: 105px;
      padding: 36px 41px;
      animation-name: shadow-pulse-xl;
      img {
        width: 28px;
        height: 33px;
      }
    }
    @include media-breakpoint-up(xxl) {
      width: 140px;
      height: 140px;
      padding: 48px 54px;
      animation-name: shadow-pulse-xxl;
      img {
        width: 38px;
        height: 44px;
      }
    }
  }
  &--words {
    .video {
      &__block {
        order: 1;
      }
      &__img {
        order: 2;
      }
    }
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba($color-brown,.6), 0 0 0 0px rgba($color-brown,.4);
  }
  100% {
    box-shadow: 0 0 0 33px rgba($color-brown,0), 0 0 0 66px rgba($color-brown,0);
  }
}
@keyframes shadow-pulse-md {
  0% {
    box-shadow: 0 0 0 0px rgba($color-brown,.6), 0 0 0 0px rgba($color-brown,.4);
  }
  100% {
    box-shadow: 0 0 0 42px rgba($color-brown,0), 0 0 0 85px rgba($color-brown,0);
  }
}
@keyframes shadow-pulse-xl {
  0% {
    box-shadow: 0 0 0 0px rgba($color-brown,.6), 0 0 0 0px rgba($color-brown,.4);
  }
  100% {
    box-shadow: 0 0 0 54px rgba($color-brown,0), 0 0 0 108px rgba($color-brown,0);
  }
}
@keyframes shadow-pulse-xxl {
  0% {
    box-shadow: 0 0 0 0px rgba($color-brown,.6), 0 0 0 0px rgba($color-brown,.4);
  }
  100% {
    box-shadow: 0 0 0 72px rgba($color-brown,0), 0 0 0 144px rgba($color-brown,0);
  }
}

.learn {
  z-index: 10;
  padding-bottom: 45px;
  &__head {
    .h1, h2 {
      margin-bottom: 10px;
    }
  }
  &__video {
    position: absolute;
    margin-left: 66px;
    margin-top: -57px;
  }
}

.what {
  z-index: 15;
  padding-top: 50px;
  &__content {
    &-wrapper {
      overflow: hidden;
      p {
        display: none;
        &:nth-child(-n+4) {
          display: block;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      .is-active & {
        p {
          display: block;
        }
      }
    }
    &-link {
      padding: 0;
      background: none;
      border: 0;
      color: $color-brown;
      font-weight: 500;
      font-size: rem(16px);
      height: 26px;
      img {
        vertical-align: middle;
        margin-right: 8px;
      }
      &:hover {
        color: $primary-color;
      }
      .is-active & {
        display: none;
      }
    }
  }
}

.history {
  z-index: 20;
  &__img {
    position: relative;
    width: 290px;
    margin: 0 auto;
    padding-right: 18px;
    padding-bottom: 22px;
    img {
      border-radius: 20px;
      position: relative;
      z-index: 5;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 280px;
      height: 320px;
      background: rgba($color-brown,0.5);
      border-radius: 20px;
    }
  }
}

.facts {
  z-index: 25;
  padding-top: 60px;
  padding-bottom: 50px;
  &__head {
    text-align: center;
    padding: 0 20px;
  }
  &__block {
    position: relative;
    padding: 30px 0;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: $color-brown;
    font-family: $font-muller;
  }
}

.words {
  z-index: 30;
  padding-top: 50px;
  &__head {
    text-align: center;
    .h2, h2 {
      margin-bottom: 35px;
    }
  }
  &__video {
    right: 80px;
    margin-top: -7px;
    position: absolute;
  }
}

.initiative {
  z-index: 25;
  &__wrapper {
    &-content {
      text-align: center;
    }
    &-img {
      margin-bottom: 30px;
    }
  }
  &__img {
    width: 334px;
    height: 334px;
    border-radius: 50%;
    background: rgba(#FDFDFD,.5);
    box-shadow: 20px 20px 30px rgba($color-black,0.05);
    margin: 0 auto;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: rgba(#FDFDFD,.5);
      box-shadow: 20px 20px 30px rgba($color-black,0.05);
      width: 255px;
      height: 255px;
      margin: 39px 0 0 39px;
      border-radius: 50%;
    }
    img {
      position: absolute;
      z-index: 5;
      bottom: 39px;
      left: 50%;
      transform: translateX(-50%);
      clip-path: ellipse(150px 195px at 111px 108px);
      width: 223px;
    }
  }
  &__description {
    font-weight: bold;
    font-size: rem(20px);
    line-height: 26px;
    color: $color-brown;
    padding-left: 67px;
    position: relative;
    text-align: left;
    margin-bottom: 25px;
    font-style: italic;
    max-width: 675px;
    &::before {
      content: '';
      width: 42px;
      height: 3px;
      position: absolute;
      left: 0;
      top: 9px;
      background: $color-brown;
    }
  }
  &__btn {
    width: 290px;
  }
}

.payment {
  padding-bottom: 0;
  z-index: 40;
  &__top {
    text-align: center;
    margin: 0 auto 30px;
    font-weight: bold;
    &-info {
      font-size: rem(30px);
      font-weight: 900;
      strong {
        font-size: rem(50px);
        color: $color-brown;
        display: block;
        font-weight: 900;
      }
    }
    &-description {
      font-size: rem(18px);
      strong {
        font-size: rem(22px);
        color: $color-brown;
        display: block;
      }
    }
  }
  &__form {
    background: $color-white;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    overflow: hidden;
    max-width: 598px;
    margin: 0 auto;
    @include media-breakpoint-up(lg) {
      max-width: inherit;
    }
    &-info {
      font-weight: bold;
      font-size: rem(14px);
      line-height: 20px;
      margin-bottom: 25px;
      strong {
        font-weight: 900;
        display: block;
      }
    }
    &-head {
      font-size: rem(20px);
      margin-bottom: 10px;
    }
    &-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    &-form {
      padding: 30px 15px;
      background: $primary-color;
      color: $color-white;
      order: 1;
    }
    &-content {
      padding: 40px 15px 45px 15px;;
      order: 2;
    }
  }
  &__sertificate {
    display: inline-block;
    min-height: 55px;
    position: relative;
    padding-left: 60px;
    padding-top: 10px;
    max-width: 330px;
    margin-top: 25px;
    img {
      position: absolute;
      left: 0;
      top: 0;
    }
    span {
      font-weight: bold;
      font-size: rem(14px);
      line-height: 20px;
      display: block;
    }
  }
  &__btn {
    width: 290px;
    height: auto;
  }
  &__block {
    &-title {
      font-weight: 800;
      font-size: rem(25px);
      line-height: 55px;
      color: $color-brown;
    }
    &-remove {
      position: absolute;
      right: 0;
      line-height: 55px;
      text-transform: uppercase;
      padding-right: 25px;
      font-weight: 500;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.54 2.30175L11.0836 0.887695L6.36008 5.47363L1.63663 0.887695L0.180176 2.30175L4.90362 6.88768L0.180176 11.4736L1.63663 12.8877L6.36008 8.30176L11.0835 12.8877L12.54 11.4736L7.81657 6.88768L12.54 2.30175Z' fill='%23F3F4F6'/%3E%3C/svg%3E");
        top: 19px;
        width: 13px;
        height: 13px;
      }
    }
  }
  &__add {
    position: relative;
    font-size: rem(10px);
    &-block {
      &+[class*="-block"] {
        padding-top: 5px;
      }
      &:first-child {
        [class*="-title"] {
          font-size: rem(30px);
          margin-bottom: 15px;
        }
      }
    }
    &-btn {
      position: relative;
      padding-left: 36px;
      height: 23px;
      color: $color-brown;
      text-transform: uppercase;
      font-weight: bold;
      min-height: 25px;
      font-size: rem(14px);
      &::before {
        content: '';
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3936 0.128906C5.32823 0.128906 0.393555 5.10708 0.393555 11.2259C0.393555 17.3447 5.32823 22.3228 11.3936 22.3228C17.4589 22.3228 22.3936 17.3447 22.3936 11.2259C22.3936 5.10708 17.4588 0.128906 11.3936 0.128906ZM16.8936 12.613H12.7685V16.7744H10.0186V12.613H5.89355V9.83876H10.0186V5.67739H12.7685V9.83876H16.8936V12.613Z' fill='%23D39C50'/%3E%3C/svg%3E");
        width: 23px;
        height: 23px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &-wrapper {
      padding-bottom: 5px;
    }
  }
}

.slick {
  &-dots {
    font-size: 0;
    li {
      height: auto;
      width: auto;
      margin: 0 6px;
      vertical-align: middle;
      button {
        width: 14px;
        height: 14px;
        padding: 0;
        border-radius: 50%;
        background: transparent;
        border: 1px solid $color-brown;
        box-shadow: 0px 0px 0px $color-brown;
        transition: all 0.35s;
        &::before {
          display: none;
        }
      }
      &.slick-active {
        button {
          box-shadow: 0px 4px 10px $color-brown;
          background: $color-brown;
        }
      }
    }
  }
  &-slide {
    &:active, &:focus {
      outline: none;
    }
  }
}