/* forms */

input, textarea {
  &::-webkit-input-placeholder {
    color: #BCBCCE;
    font-size: rem(14px);
  }
  &::-moz-placeholder {
    color: #BCBCCE;
    font-size: rem(14px);
  }
  &:-ms-input-placeholder {
    color: #BCBCCE;
    font-size: rem(14px);
  }
  &:-moz-placeholder {
    color: #BCBCCE;
    font-size: rem(14px);
  }
}

button, input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  outline: none;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

legend {
  font-weight: bold;
  font-size: rem(30px);
  line-height: 1.2;
  color: $primary-color;
  margin-bottom: 30px;
  display: block;
}

.form {
  &-group, &__group {
    margin-bottom: 15px;
  }
  &-control, &__control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 20px;
    font-size: rem(16px);
    font-family: $font-muller;
    line-height: 1.42857143;
    font-weight: 500;
    color: $primary-color;
    background-color: $color-gray;
    background-image: none;
    border: 1px solid $color-gray;
    border-radius: 35px;
    box-shadow: none;
    transition: all .35s;
    &:focus, &:active {
      outline: none;
      border-color: darken($color-gray,25%);
    }
    &.error {
      border-color: #fb7f7f;
      &+label {
        color: #fb7f7f;
        font-size: 13px;
        margin: 0;
        padding-left: 20px;
        font-weight: 500;
      }
    }
  }
  &-label, &__label {
    display: block;
  }
}

textarea {
  &.form-control, &.form__control {
    height: 150px;
    resize: none;
  }
}

.label-donate {
  margin: 0;
  display: block;
  font-weight: 900;
  font-size: rem(16px);
  color: $color-white;
  text-align: center;
  cursor: pointer;
  transition: all 0.35s;
  input {
    display: none;
    &+span {
      background: $color-brown;
      display: block;
      border-radius: 35px;
      height: 40px;
      line-height: 39px;
      border: 2px solid $color-brown;
      transition: all 0.35s;
    }
    &:checked {
      &+span {
        background: darken($color-brown,15%);
        border-color: darken($color-brown,15%);
      }
    }
  }
  &:hover {
    input {
      &+span {
        border-color: darken($color-brown,15%);
      }
    }
  }
}

.label-checkbox {
  font-weight: 500;
  position: relative;
  padding-left: 30px;
  font-size: rem(14px);
  line-height: 1;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  input {
    display: none;
    &:checked {
      &+svg {
        .checkbox-path1 {
          fill: $color-brown;
        }
      }
    }
  }
  svg {
    position: absolute;
    left: 0;
    top: -1px;
    path {
      transition: all 0.35s;
    }
    .checkbox-path2 {
      fill: $color-brown;
    }
  }
  a {
    color: $primary-color;
    text-decoration: underline;
    &:hover {
      color: $color-brown;
    }
  }
}

.has {
  &-success {
    .form-control {
      border-color: #3c763d;
      box-shadow: none;
    }
    .control-label {
      color: #3c763d;
    }
  }
  &-warning {
    .form-control {
      border-color: #8a6d3b;
      box-shadow: none;
    }
    .control-label {
      color: #8a6d3b;
    }
  }
  &-error {
    .form-control {
      border-color: #ff0000;
      box-shadow: none;
    }
    .control-label {
      color: #ff0000;
    }
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}