// :root {
//   @include defineColorHSL(--color-primary, 0, 89%, 56%);
// }
// [data-theme="dark"] {
//   @include defineColorHSL(--color-primary, 0, 100%, 56%);
// }

$primary-color: #3B3B44;

$link-color: #D39C50;

$color-white: #ffffff;
$color-gray: #F3F4F6;
$color-black: #000000;
$color-red: #ff0000;
$color-pink: pink;
$color-brown: #D39C50;

$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-muller: 'Muller', $primary-font;
