@include media-breakpoint-up(sm) {
  .header {
    &__btn {
      display: block;
    }
  }
  .roll {
    &__content {
      &-wrapper {
        padding-top: 0;
      }
    }
    &__block {
      &-img3 {
        width: 364px;
      }
      &.is-roll {
        [class*="-img3"] {
          animation-name: backgroundEffect-sm;
        }
      }
    }
    &__btn {
      width: 336px;
    }
  }
  .history {
    &__img {
      width: 356px;
      &::after {
        width: 340px;
        height: 400px;
      }
    }
  }
  .initiative {
    &__btn {
      width: 336px;
    }
  }
  .payment {
    &__wrapper {
      &-form, &-content {
        padding-right: 43px;
        padding-left: 43px;
      }
    }
    &__btn {
      width: 367px;
    }
  }
}
@include media-breakpoint-up(md) {
  .header {
    backdrop-filter: none;
    background: linear-gradient(to right, $color-white, rgba($color-white,0) 40%);
    box-shadow: none;
    &__btn {
      margin-right: 28px;
      color: $color-brown;
      svg {
        rect {
          stroke: $color-white;
          &.path {
            fill: $color-white;
          }
        }
      }
      &:hover {
        color: $color-brown;
      }
      .is-scroll & {
        color: $color-white;
        svg {
          rect {
            stroke: $color-brown;
            &.path {
              fill: $color-brown;
            }
          }
        }
      }
    }
    &__wrapper {
      height: 94px;
    }
  }
  .roll {
    padding-bottom: 45px;
    &__wrapper {
      display: flex;
      margin: 0;
      padding-top: 100px;
      &-right {
        order: 2;
      }
      &-left {
        order: 1;
      }
      &-content {
        text-align: left;
      }
      &-img {
        display: block;
        top: 0;
        margin-top: -100px;
        width: 965px;
      }
    }
    &__untitle {
      text-align: left;
      max-width: 270px;
    }
    &__head {
      text-align: left;
      margin-left: 0;
    }
    &__block {
      width: 358px;
      height: 530px;
      transform: translateX(37px);
      margin-top: -116px;
      margin-bottom: 0;
      &-img3 {
        bottom: 64px;
        width: 273px;
        height: 405px;
      }
      &.is-roll {
        [class*="-img3"] {
          animation-duration: 15s;
          animation-name: backgroundEffect-md;
        }
      }
    }
    &__description {
      white-space: nowrap;
      margin-right: -50px;
      br {
        display: block;
      }
    }
  }
  .video {
    flex-direction: row;
    &__block {
      width: 128px;
      flex-shrink: 0;
      position: relative;
      order: 1;
    }
    &__img {
      order: 2;
      flex-grow: 1;
      padding-right: 18px;
    }
    &--words {
      max-width: 648px;
      .video {
        &__block {
          order: 2
        }
        &__img {
          order: 1;
          padding-right: 0;
        }
      }
    }
  }
  .learn {
    padding-top: 45px;
    padding-bottom: 35px;
    &__video {
      right: 0;
      transform: translateX(50%);
      margin-top: 110px;
    }
  }
  .what {
    padding-top: 55px;
  }
  .history {
    &__wrapper {
      display: flex;
      &-content, &-img {
        width: 50%;
        flex-shrink: 0;
      }
    }
    &__img {
      height: 100%;
    }
  }
  .facts {
    padding-bottom: 60px;
    &__block {
      padding: 50px 0;
      max-width: 560px;
      margin: 0 auto;
    }
  }
  .words {
    padding-top: 55px;
    padding-bottom: 50px;
    &__video {
      margin-top: 132px;
      left: 0;
      right: inherit;
      transform: translateX(-50%);
    }
    &__head {
      .h2, h2 {
        margin-bottom: 5px;
      }
    }
  }
  .initiative {
    padding-top: 50px;
    &__wrapper {
      &-left {
        padding-bottom: 10px;
      }
    }
    &__description {
      font-size: rem(22px);
      line-height: 28px;
      &::before {
        top: 12px;
      }
    }
  }
  .payment {
    &__top {
      max-width: 420px;
      margin-bottom: 25px;
    }
    &__form {
      &-footer {
        padding-top: 15px;
      }
    }
    &__block {
      &-wrapper {
        display: flex;
        flex-wrap: wrap;
        .div1 {
          width: calc(100% - 15px - 242px);
        }
        .div2 {
          flex-shrink: 0;
          margin-left: 15px;
          width: 242px;
        }
        .div3 {
          width: 100%;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .roll {
    padding-bottom: 55px;
    &__block {
      width: 500px;
      transform: translateX(0);
      &-img3 {
        width: 406px;
        margin-left: 48px;
      }
      &.is-roll {
        [class*="-img3"] {
          animation-duration: 15s;
          animation-name: backgroundEffect-lg;
        }
      }
    }
    &__untitle {
      font-size: rem(22px);
      margin-bottom: 15px;
    }
    &__wrapper {
      &-content {
        flex-grow: 1;
        width: 50%;
      }
      &-right {
        width: 50%;
      }
      &-img {
        margin-left: -35px;
      }
    }
  }
  .header {
    &__nav {
      display: block;
    }
    &__logo {
      flex-grow: 0;
    }
  }
  .learn {
    padding-top: 75px;
  }
  .history {
    padding-bottom: 70px;
    &__wrapper {
      &-content {
        padding-right: 15px;
      }
    }
    &__img {
      width: 382px;
      float: left;
      &::after {
        width: 364px;
        height: 430px;
      }
    }
  }
  .facts {
    padding-top: 70px;
    &__block {
      max-width: 665px;
      font-size: rem(30px);
      line-height: 45px;
    }
  }
  .video {
    &--words {
      max-width: inherit;
      width: 658px;
    }
  }
  .words {
    padding-top: 20px;
    &__wrapper {
      display: flex;
      &-head {
        order: 2;
      }
      &-video {
        order: 1;
        flex-shrink: 0;
      }
    }
    &__head {
      text-align: left;
      margin-top: 25px;
      margin-left: -58px;
      .h2, h2 {
        margin-bottom: 0;
        small {
          display: block;
        }
      }
    }
  }
  .initiative {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      &-left, &-img {
        width: 50%;
        flex-shrink: 0;
        margin-bottom: 10px;
        p {
          max-width: 450px;
        }
      }
      &-content {
        width: 100%;
      }
    }
    &__description {
      max-width: inherit;
      margin-bottom: 30px;
    }
  }
  .payment {
    &__top {
      display: flex;
      flex-direction: row;
      max-width: inherit;
      text-align: left;
      margin-bottom: 75px;
      &>div {
        width: 50%;
      }
      &-info {
        font-size: rem(35px);
        strong {
          font-size: rem(60px);
        }
      }
      &-description {
        font-size: rem(22px);
        strong {
          font-size: rem(30px);
          line-height: 1.2;
        }
      }
    }
    &__wrapper {
      flex-direction: row;
      &-content {
        width: 50%;
        order: 1;
      }
      &-form {
        order: 2;
        width: 50%;
        padding-left: 47px;
      }
    }
    &__form {
      &-footer {
        align-items: flex-start;
      }
    }
    &__btn {
      width: 336px;
    }
    &__block {
      &-wrapper {
        .div1 {
          width: calc(100% - 15px - 182px);
        }
        .div2 {
          width: 182px;
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .roll {
    padding-bottom: 55px;
    &__untitle {
      font-size: rem(32px);
      max-width: 380px;
    }
    &__description {
      font-size: rem(18px);
    }
    &__block {
      width: 634px;
      height: 667px;
      &-img1, &-img2 {
        width: 71px;
      }
      &-img3 {
        width: calc(100% - 126px);
        height: 508px;
        margin-left: 66px;
        bottom: 86px;
      }
      &.is-roll {
        [class*="-img3"] {
          animation-duration: 15s;
          animation-name: backgroundEffect-xl;
        }
      }
    }
    &__wrapper {
      &-img {
        margin-left: -65px;
      }
    }
  }
  .learn {
    padding-top: 60px;
    padding-bottom: 50px;
    &__video {
      margin-top: 141px;
    }
    &__head {
      .h2, h2 {
        margin-bottom: 15px;
      }
    }
  }
  .video {
    max-width: 890px;
    &__block {
      width: 162px;
    }
    &--words {
      width: 866px;
      .video {
        &__block {
          width: 168px;
        }
      }
    }
  }
  .what {
    &__content {
      &-wrapper {
        column-count: 2;
        column-gap: 50px;
        p {
          display: block;
        }
      }
      &-link {
        display: none;
      }
    }
  }
  .history {
    &__img {
      width: 478px;
      padding-right: 22px;
      padding-top: 24px;
      padding-bottom: 0;
      &::after {
        top: 0;
        bottom: inherit;
        width: 455px;
        height: 537px;
      }
    }
    &__wrapper {
      &-img {
        padding-left: 12px;
      }
    }
  }
  .facts {
    padding-bottom: 90px;
    &__block {
      padding: 100px 0;
      font-size: rem(40px);
      line-height: 55px;
      max-width: 920px;
    }
  }
  .words {
    padding-top: 90px;
    padding-bottom: 80px;
    &__video {
      margin-top: 177px;
    }
    &__head {
      margin-left: -78px;
      margin-top: 67px;
      .h2, h2 {
        small {
          max-width: 290px;
          line-height: 1.2;
        }
      }
    }
  }
  .initiative {
    padding-top: 80px;
    padding-bottom: 80px;
    &__img {
      width: 536px;
      height: 536px;
      &::before {
        width: 408px;
        height: 408px;
        margin-left: 63px;
        margin-top: 63px;
      }
      img {
        width: 358px;
        bottom: 63px;
        clip-path: ellipse(273px 435px at 178px 50px);
      }
    }
    &__wrapper {
      &-left, &-img {
        p {
          max-width: inherit;
        }
      }
    }
  }
  .payment {
    padding-top: 80px;
    &__wrapper {
      &-content {
        width: auto;
        flex-grow: 1;
      }
      &-form {
        width: 493px;
        flex-shrink: 0;
        padding-right: 47px;
      }
    }
    &__top {
      &-description {
        font-size: rem(26px);
        strong {
          font-size: rem(38px);
        }
      }
      &-info {
        font-size: rem(45px);
        strong {
          font-size: rem(70px);
        }
      }
    }
    &__form {
      &-fields {
        display: flex;
        flex-wrap: wrap;
        .div1, .div3 {
          flex-grow: 1;
        }
        .div2, .div4 {
          margin-left: 30px;
          flex-shrink: 0;
          width: 189px;
        }
        .div4 {
          width: 264px;
        }
      }
      &-info {
        strong {
          display: inline;
        }
      }
      &-donate {
        display: flex;
        flex-wrap: wrap;
        .div1 {
          width: 100%;
        }
        .div2, .div4 {
          width: calc(100% - 30px - 264px);
        }
        .div3, .div5 {
          margin-left: 30px;
          flex-shrink: 0;
          width: 264px;
        }
      }
    }
    &__block {
      &-wrapper {
        .div1 {
          width: calc(100% - 15px - 192px);
        }
        .div2 {
          width: 192px;
        }
      }
    }
  }
}

@include media-breakpoint-up(xxl) {
  .header {
    &__logo {
      margin-right: 100px;
    }
    &__btn {
      margin-right: 65px;
    }
    &__nav {
      ul {
        li {
          font-size: rem(18px);
          &>a, &>span {
            height: 94px;
            line-height: 95px;
          }
          &+li {
            margin-left: 30px;
          }
        }
      }
    }
  }
  .roll {
    padding-bottom: 65px;
    &__wrapper {
      padding-top: 150px;
      &-img {
        width: 1199px;
        margin-left: -80px;
      }
    }
    &__untitle {
      font-size: rem(45px);
      line-height: 1.25;
      max-width: 520px;
      margin-bottom: 25px;
    }
    &__description {
      font-size: rem(22px);
      line-height: 1.5;
      &::before {
        top: 13px;
      }
    }
    &__content {
      margin-bottom: 45px;
    }
    &__block {
      width: 803px;
      height: 850px;
      margin-top: -160px;
      &-img1, &-img2 {
        width: 90px;
      }
      &-img3 {
        margin-left: 83px;
        bottom: 114px;
        width: calc(100% - 162px);
        height: 640px;
      }
      &.is-roll {
        [class*="-img3"] {
          animation-duration: 15s;
          animation-name: backgroundEffect-xl;
        }
      }
    }
  }
  .video {
    max-width: 1185px;
    &__block {
      width: 213px;
    }
    &--words {
      width: 1150px;
      .video {
        &__block {
          width: 224px;
        }
      }
    }
  }
  .learn {
    padding-top: 65px;
    padding-bottom: 80px;
    &__video {
      margin-top: 186px;
    }
  }
  .what {
    padding-top: 75px;
    padding-bottom: 100px;
    &__content {
      &-wrapper {
        column-gap: 70px;
      }
    }
  }
  .history {
    padding-top: 100px;
    padding-bottom: 145px;
    &__head {
      .h2, h2 {
        margin-bottom: 45px;
      }
    }
    &__img {
      width: 584px;
      padding-right: 28px;
      padding-top: 29px;
      margin-top: -29px;
      &::after {
        width: 556px;
        height: 655px;
      }
    }
    &__wrapper {
      &-img {
        padding-left: 0;
      }
    }
  }
  .facts {
    padding-bottom: 100px;
    &__block {
      font-size: rem(45px);
      max-width: 1300px;
    }
  }
  .words {
    padding-top: 100px;
    padding-bottom: 120px;
    &__video {
      margin-top: 234px;
    }
    &__head {
      margin-left: -110px;
      .h2, h2 {
        small {
          font-size: 61px;
          max-width: 420px;
        }
      }
    }
  }
  .initiative {
    padding-top: 120px;
    padding-bottom: 100px;
    &__description {
      font-size: rem(26px);
      line-height: 32px;
      margin-bottom: 50px;
    }
    &__head {
      margin-bottom: 30px;
    }
    &__img {
      width: 673px;
      height: 673px;
      margin-top: -52px;
      &::before {
        width: 512px;
        height: 512px;
        margin-left: 80px;
        margin-top: 80px;
      }
      img {
        width: 449px;
        bottom: 79px;
        clip-path: ellipse(341px 515px at 223px 93px);
      }
    }
  }
  .payment {
    padding-top: 100px;
    &__top {
      &-description {
        font-size: rem(32px);
        strong {
          font-size: rem(42px);
        }
      }
      &-info {
        font-size: rem(55px);
        strong {
          font-size: rem(90px);
        }
      }
    }
    &__form {
      &-fields {
        display: flex;
        flex-wrap: nowrap;
        .div1 {
          flex-grow: 1;
        }
        .div2, .div3, .div4 {
          margin-left: 30px;
          flex-shrink: 0;
          width: 189px;
        }
      }
      &-donate {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .div1 {
          width: auto;
          flex-grow: 1;
        }
        .div2, .div3, .div4, .div5 {
          margin-left: 30px;
          width: 172px;
          flex-shrink: 0;
        }
        .div5 {
          width: 178px;
        }
      }
      &-info {
        margin-bottom: 30px;
      }
      &-head {
        margin-bottom: 15px;
      }
      &-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
    &__sertificate {
      margin-top: 0;
    }
  }
}